{% load static %}
<div class="col-md-6 wow fadeInRight">
<h2 class="fg-dark">Education</h2>
    <ul class="timeline mt-4 pr-md-5">
      {% for ed in education  %}
        <li>
            <div class="title">{{ ed.starting_year |default_if_none:"&nbsp;" }}-{{ ed.ending_year |default_if_none:"&nbsp;" }}</div>
            <div class="details">
            <h5>{{ ed.title }}</h5>
            <small class="fg-theme">{{ ed.school_name }}</small>
            <p>{{ ed.info }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
  </div>