{% load static %}
<div class="col-md-6 wow fadeInRight">
<h2 class="fg-dark">Experience</h2>
    <ul class="timeline mt-4 pr-md-5">
      {% for ex in experience  %}
        <li>
            <div class="title">{{ ex.starting_year |default_if_none:"&nbsp;" }}-{{ ex.ending_year |default_if_none:"&nbsp;" }}</div>
            <div class="details">
            <h5>{{ ex.job_title }}</h5>
            <small class="fg-theme">{{ ex.company_name }}</small>
            <p>{{ ex.info }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
  </div>